.projectList {
    ul {
        @include span(12);
        margin-top: 1rem;
        position: static;
        li {
            @include span(12);
            padding: 0 5%;
            margin-bottom: .3rem;
            background: #fff;
            display: block;
            @include height(2.5rem);
            @include text-hide();
            font-size: 1rem;
        }
    }
}

.body {
    background: rgba(45, 47, 46, 0.99);
}

.box {
    display: none;
    background: rgba(45, 47, 46, 0.79);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}