.projectDetailed {
    @include border-radius(5px);
    background: rgb(238, 238, 238);
    margin-top: 16px;
    margin-bottom: 16px;
    h2 {
        @include span(12);
        font-size: 1rem;
        font-weight: 600;
        text-indent: 1rem;
        @include height();
        @include text-hide();
    }
    ul {
        @include span(11.5);
        padding-left: 4.83333%;
        margin-bottom: 16px;
        overflow-y: scroll;
        max-height: 24rem;
        li {
            font-size: 1rem;
            background: #fff;
            @include span(12);
            padding: .8rem;
            margin-bottom: .3rem;
            a {
                @include span(12);
            }
            .titles {
                line-height: 1.3rem;
                padding-bottom: 10px;
                i {
                    @include span(4.5);
                    line-height: 1rem;
                    height: 1rem;
                    padding-left: 20px;
                    background: url('../images/1.png') no-repeat;
                    background-size: contain;
                    font-size: .8rem;
                    margin-top: 4px;
                }
                b {
                    float: right;
                    margin-left: .3rem;
                    font-size: .8rem;
                }
            }
        }
    }
}

.green {
    @include tag(#22af25);
}

.red {
    @include tag(#dd1111);
}

.pink {
    @include tag(#ec1470);
}

.yellow {
    @include tag(#ffb320);
}

.blue {
    @include tag(#4cacde);
}

.purple {
    @include tag(#76428d);
}

.yes {
    @include tag(#4cacde,
    1rem);
}

.no {
    @include tag(#ffb320,
    1rem);
}

.pojList {
    width: 2rem;
    height: 2rem;
    background: url('../images/gd.png') no-repeat;
    background-size: contain;
    position: absolute;
    right: .8rem;
    top: 1.2rem;
    z-index: 999;
}