.particulars {
    font-size: 1rem;
    ul {
        @include span(12);
        background: #fff;
        margin-bottom: 5px;
        li {
            @include span(12);
            border-bottom: 1px solid rgb(238, 238, 238);
            padding: .8rem .5rem;
            line-height: 1.2rem;
            height: auto;
            span {
                @include span(6);
                &:nth-last-of-type(1) {
                    text-align: right;
                    color: #666;
                }
            }
            b {
                line-height: 1.2rem;
            }
        }
    }
}

.particularsList {
    ul {
        li {
            &:nth-of-type(2) {
                height: auto;
                border-bottom: 1px dashed #eee;
                span {
                    @include span(3.5);
                    &:nth-last-of-type(1) {
                        @include span(8.5);
                        line-height: 1.2rem;
                        text-align: left;
                        height: auto;
                    }
                }
            }
        }
    }
}

.colors {
    color: #fff;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /*text-align: center;*/
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.colorss {
    height: inherit;
    color: #666;
    border-radius: initial;
    opacity: 1;
}